/.venv
data/test_chatml.jsonl
data/train_chatml.jsonl
data/train_chatml_cot.jsonl
data/val_chatml.jsonl
.env
results/base_model_outputs_02.jsonl
results/ft_ao_outputs_02.jsonl
results/ft_cot_outputs_02.jsonl
results/test_predictions_base.jsonl
results/metrics_summary.json
results/test_predictions_finetuned.jsonl
results/train_log_history.csv
results/train_log_history.json
breeze2-lora-ao-02/checkpoint-1000/optimizer.pt
breeze2-lora-ao-02/checkpoint-1160/optimizer.pt
breeze2-lora-ao-02/checkpoint-600/optimizer.pt
breeze2-lora-ao-02/final_02/model-00001-of-00002.safetensors
breeze2-lora-ao-02/final_02/model-00002-of-00002.safetensors
breeze2-lora-cot-02/checkpoint-1200/optimizer.pt
breeze2-lora-cot-02/checkpoint-4400/optimizer.pt
breeze2-lora-cot-02/final_02/model-00001-of-00002.safetensors
breeze2-lora-cot-02/final_02/model-00002-of-00002.safetensors
breeze2-lora-cot-02/checkpoint-4480/optimizer.pt
